:root {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: #3498db;
  --toastify-color-success: #07bc0c;
  --toastify-color-warning: #f1c40f;
  --toastify-color-error: #e74c3c;
  --toastify-color-transparent: hsla(0, 0%, 100%, 0.7);
  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);
  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 64px;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;
  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;
  --toastify-text-color-info: #fff;
  --toastify-text-color-success: #fff;
  --toastify-text-color-warning: #fff;
  --toastify-text-color-error: #fff;
  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;
  --toastify-color-progress-light: linear-gradient(
    90deg,
    #4cd964,
    #5ac8fa,
    #007aff,
    #34aadc,
    #5856d6,
    #ff2d55
  );
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}
*,
:after,
:before {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgba(59, 130, 246, 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap");

body,
html {
  font-family: "Poppins", sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  scroll-behavior: smooth;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  letter-spacing: 0.025em;
  padding: 0%;
  margin: 0%;
  .nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 90px;
    z-index: 999;
    display: flex;
    padding: 20px 40px;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border: 0 solid #e5e7eb;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    img {
      width: 130px;
      height: 50px;
    }
    .left-items {
      display: flex;
      gap: 35px;
      align-items: center;
      justify-content: center;
      a {
        color: #4a5568; /* Default text color */
        transition: color 0.2s ease-in-out; /* Transition effect for hover */
        opacity: 1;
        text-decoration: none;
        font-weight: 600;
        font-size: 17px;
        letter-spacing: 0.025em;
      }
      a:hover {
        cursor: pointer;
        color: #805ad5; /* Text color on hover */
      }
      button {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        margin-right: 35px;
        font-weight: 600;
        font-size: 17px;
        background-color: #0d0452;
        color: #eeedf3;
        box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
          var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
        height: 3rem;
        transition: 0.2s;
        border-radius: 0.35em;
        -webkit-transition: 0.2s;
        -moz-transition: 0.2s;
        -ms-transition: 0.2s;
        -o-transition: 0.2s;
        -webkit-border-radius: 0.35em;
        -moz-border-radius: 0.35em;
        -ms-border-radius: 0.35em;
        -o-border-radius: 0.35em;
      }
      button:hover {
        background-color: var(--toastify-color-warning);
        cursor: pointer;
      }
    }
  }
  .second-section {
    // background-image: url('../src/assets/bg.jpeg'); url(https://images.unsplash.com/photo-1536104968055-4d61aa56f46a?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDE2fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=500&q=60);
    background: linear-gradient(
        to right,
        rgba(2, 2, 70, 1),
        rgba(255, 255, 255, 0)
      ),
      url("../src/assets/bg.jpeg") no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 100%;
    padding-bottom: 2rem;
    margin-top: 90px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: #f8fafc;
      .text {
        font-size: 36px;
        font-weight: bold;
        margin-bottom: 10px;
        line-height: 8rem;
        font-size: 6rem;
        padding: 12rem 2rem 0 130px;
        opacity: 1;
        font-weight: 700;
        text-align: center;

        span {
          color: var(--toastify-color-warning);
        }
      }

      .subtext {
        font-size: 18px;
        opacity: 1;
        line-height: 3rem;
        font-size: 1.5rem;
        text-align: left;
        padding: 2rem 0 0 1rem;
        margin-left: 3rem;
      }

      button {
        margin: 0 6rem 0 15rem;
        background-color: #daa520;
        color: white !important;
        font-weight: 700;
        font-size: 1.5rem;
        line-height: 2rem;
        padding: 1rem;
        opacity: 1;
        display: block;
        width: 15rem;
        border: none;
        border-radius: 0.25rem;
        -webkit-border-radius: 0.25rem;
        -moz-border-radius: 0.25rem;
        -ms-border-radius: 0.25rem;
        -o-border-radius: 0.25rem;
      }

      button:hover {
        cursor: pointer;
        border: 2px solid white;
        background-color: transparent;
        border-style: solid;
        border-radius: 0.25rem;
      }
    }
  }
  // about us section
  .about-us {
    padding-bottom: 2rem;
    height: 100vh;
    position: relative;
    background-color: #f1f5f9;

    h2 {
      font-size: 2.25rem;
      line-height: 2.5rem;
      font-weight: 700;
      text-align: center;
      padding: 2.5rem;
      margin: 0;
    }
    h3 {
      font-size: 1.875rem;
      line-height: 2.25rem;
      text-align: center;
      padding: 1.5rem 1.5rem 0 1.5rem;
      font-weight: inherit;
    }
    .image-container {
      width: 100%;
      height: 30rem;
      border-radius: 0.5rem;
      overflow: hidden; /* Ensure the image stays within the container */
      position: relative;

      img {
        width: 75%;
        display: block;
        margin: 0 auto; /* Center the image horizontally */
        border-radius: inherit; /* Inherit the rounded corners from the container */
        object-fit: cover;
        height: 100%;
      }
    }
    .cards {
      display: flex;
      .card {
        display: block;
        background-color: #ffffff;
        position: relative;
        bottom: 3rem;
        border-radius: 2rem;
        padding: 2.5rem;
        width: 480px;
        left: 20rem;
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px,
          rgba(0, 0, 0, 0) 0px 0px 0px 0px,
          rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
          rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
        box-sizing: border-box;
        line-height: 24px;
        .card-title {
          display: flex;
          color: #daa520;
          text-align: center;
          font-weight: 700;
          font-size: 1.25rem;
          line-height: 1.75rem;
          justify-content: center;
          align-items: center;
          gap: 0.5rem;
          padding-bottom: 16px;
          opacity: 1;

          & > p:first-child {
            margin: 0;
          }
        }
      }
      .card-one {
        z-index: 5;
      }
      .card-two {
        margin-right: 700px;
        z-index: 1;
      }
    }
  }
  .services {
    padding: 5rem 2rem;
    .service-title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 25px;
      h2 {
        font-size: 2.25rem;
        line-height: 2.5rem;
        letter-spacing: 0.025rem;
        font-weight: 700;
        font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
          Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
          Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
        margin-bottom: 1.5rem;
      }
      p {
        font-size: 1.125rem;
        line-height: 1.75rem;
        width: 50%;
        color: #041d38;
        text-align: center;
      }
    }
    .grid__cards {
      display: grid;
      grid-template-columns: repeat(2, minmax(0, 1fr));
      gap: 2rem;

      .grid-card {
        margin-left: auto;
        margin-right: auto;
        max-width: 28rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        box-shadow: 0 2px 4px 0 rgba(6, 26, 125, 0.12),
          0 2px 16px 0 rgba(6, 53, 238, 0.32);
        padding: 2em;
        .icon {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          box-shadow: 2.4px 2.4px 3.2px rgba(0, 0, 0, 0.15);
          width: 6rem;
          height: 6rem;
          opacity: 1;
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;
        }

        h6 {
          line-height: 1.25rem;
          font-weight: 700;
          font-size: 1.25rem;
          margin-bottom: 0.75rem;
        }
        p {
          font-size: 0.875rem;
          line-height: 1.25rem;
          margin-bottom: 0.75rem;
          color: #011020;
          text-align: center;
        }
        .btn-services {
          align-items: center;
          background-color: #0d0452;
          border: 0;
          border-radius: 12px;
          box-shadow: 0 2px 4px 0 rgba(18, 196, 236, 0.12),
            0 2px 16px 0 rgba(71, 103, 103, 0.32);
          box-sizing: border-box;
          color: #fff;
          cursor: pointer;
          font-size: 16px;
          font-weight: 700;
          padding: 10px 15px;
          text-align: center;
          touch-action: manipulation;
          transition: 0.2s;
          user-select: none;
          -webkit-user-select: none;
          width: 100%;

          &:hover {
            background-color: #f7b308;
            color: #fff;
            font-weight: 800;
          }
        }
      }
    }
  }
  .courses {
    background-color: #111827;
    width: 95%;
    padding: 2.5rem 1.5rem;
    margin-left: auto;
    margin-right: auto;
    color: white;

    .coursers-title {
      padding-bottom: 20px;
      h1,p{
        padding-bottom: 15px ;
      }
      h1 {
        font-size: 1.875rem;
        line-height: 2.25rem;
        font-weight: 600;
        text-transform: capitalize;
      }
    }
    .grid-courses {
      display: grid;
      grid-template-columns: repeat(3, minmax(0, 1fr));
      gap: 3rem;

      .grid-course {
        padding: 32px;
        line-height: 24px;
        border: 2px solid rgb(147, 197, 253);
        border-radius: 12px;
        border-image-outset: 0;
        border-image-repeat: stretch;
        border-image-slice: 100%;
        border-image-source: none;
        border-image-width: 1;
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px 0px;
        box-sizing: border-box;
        opacity: 1;
        border-radius: 0.75rem;
        -webkit-border-radius: 0.75rem;
        -moz-border-radius: 0.75rem;
        -ms-border-radius: 0.75rem;
        -o-border-radius: 0.75rem;

        .svg {
          display: inline-block;

          svg {
            color: rgb(96, 165, 250);
            display: block;
            vertical-align: middle;
          }
        }
        h1 {
          font-weight: 600;
          font-size: 1.25rem;
          line-height: 1.75rem;
          text-transform: capitalize;
          margin-bottom: calc(0.75rem * var(--tw-space-y-reverse));
          margin-top: calc(0.75rem * (1 - var(--tw-space-y-reverse)));
        }
        .btn-courses {
          padding: 8px;
          margin-top: 12px;
          color: rgb(59, 130, 246);
          border-radius: 50%;
          -webkit-border-radius: 50%;
          -moz-border-radius: 50%;
          -ms-border-radius: 50%;
          -o-border-radius: 50%;

          svg {
            width: 1.5rem;
            height: 1.5rem;
          }
        }
      }
      .grid-course:hover {
        background-color: #3056d3;
        cursor: pointer;
      }
    }
  }
  .contacts {
    width: 95%;
    margin: auto;
    padding-bottom: 120px;
    padding-top: 120px;

    .contact-cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-left: -1rem;
      margin-right: -1rem;

      .contact-card_left {
        width: 570px;
        padding: 1rem;

        .contact-title {
          margin-bottom: 0;

          h2 {
            font-size: 40px;
            font-weight: 700;
            text-transform: uppercase;
            margin-bottom: 1.5rem;
          }
          p {
            margin-bottom: 2.25rem;
            font-size: 1rem;
            line-height: 1.625;
          }
        }
        .contact-info {
          display: flex;
          width: 100%;
          max-width: 370px;
          .contact-svg {
            display: flex;

            width: 100%;
            justify-content: center;
            align-items: center;
            border-radius: 0.25rem;
            -webkit-border-radius: 0.25rem;
            -moz-border-radius: 0.25rem;
            -ms-border-radius: 0.25rem;
            -o-border-radius: 0.25rem;

            svg {
              svg {
                color: rgb(96, 165, 250);
                display: block;
                vertical-align: middle;
                fill: currentColor;
              }
            }
          }
          .w-full {
            width: 100%;

            h4 {
              margin-bottom: 0.25rem;
              font-size: 1.25rem;
              line-height: 1.75rem;
              font-weight: 700;
            }
            p {
              font-size: 1rem;
              line-height: 1.5rem;
              margin: 0;
            }
          }
        }
      }
      .contact-card_right {
        width: 41.6%;
        padding: 1rem;
        .form-container {
          position: relative;
          border-radius: 0.5rem;
          --tw-bg-opacity: 1;
          background-color: rgb(255 255 255 / var(--tw-bg-opacity));
          --tw-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
            0 4px 6px -4px rgba(0, 0, 0, 0.1);
          --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
            0 4px 6px -4px var(--tw-shadow-color);
          box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
          padding: 3rem;

          .input-container {
            margin-bottom: 1.5rem;
            input,
            textarea {
              border: 0 solid #e5e7eb;
              box-sizing: border-box;
              font-weight: inherit;
              font-family: inherit;
              width: 100%;
              border-width: 1px;
              border-color: f0f0f0;
              padding: 14px 0.75rem;
              font-size: 1rem;
              line-height: 1.5rem;
              outline: 2px solid transparent;
              outline-offset: 2px;
            }
          }

          .icon {
            position: absolute;
            right: -2.25rem;
            top: -2.5rem;
            z-index: -1;
          }
          .icon2 {
            position: absolute;
            right: -2.5rem;
            top: 90px;
            z-index: -1;
          }
          .icon3 {
            position: absolute;
            bottom: -1.75rem;
            left: -1.75rem;
            z-index: -1;
          }
        }
        .form-container:hover {
          background-color: #0d0452;
        }
        button {
          --tw-bg-opacity: 1;
          background-color: rgb(13 4 82 / var(--tw-bg-opacity));
          --tw-text-opacity: 1;
          color: rgb(255 255 255 / var(--tw-text-opacity));
          padding: 0.75%;
          border-width: 1px;
          border-radius: 0.25rem;
          width: 100%;
          height: 50px;
          font-family: inherit;
          font-size: 100%;
          font-weight: inherit;
          line-height: inherit;
          margin: 0;
        }
      }
    }
  }
  footer {
    background-color: #0d0452;
    color: white;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    .grid {
      h3 {
        font-weight: bold;
        margin-bottom: 10px;
      }

      ul {
        list-style-type: none;
        padding: 0;

        li {
          margin-bottom: 5px;
        }
        
      }
      a{
        color: white;
      }
    }
  }
}
